name: PyPi Release

on: [release]

jobs:
  build:

    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2.3.4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2.2.1
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install gettext
      run: sudo apt-get install gettext -y
    - name: Install dependencies
      run: python -m pip install --upgrade pip setuptools wheel twine
    - name: Build dist packages
      run: python setup.py sdist bdist_wheel
    - name: Upload packages
      run: python -m twine upload dist/*
      env:
        TWINE_USERNAME: ${{ secrets.TWINE_USERNAME }}
        TWINE_PASSWORD: ${{ secrets.TWINE_PASSWORD }}
